# Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
# We can comment single-line code in python by adding ## before starting of statement.
# If we we have multi-line codes then by placing '' or "" three times before and after statements or press ctrl + / by selecting all statement.

In [3]:
## print(type(i)) "Here adding ## before starting of statement"

In [4]:
"""Student_ids = ['S01','S02','S03','S04','S05']
Gender = ['M','F','F','M','F']
Dept = ['CS','ECE','ME','CS','CS']
Sessional_Perc = [45,60,73,65.3,71.9]
Final_Sem_marks = [680, 800, 541.0079999999999, 650, 811.5120000000001]
Backlogs = ['B', 'B', 'NB', 'B', 'NB'] Here by placing "" three times before and after statement"""

'Student_ids = [\'S01\',\'S02\',\'S03\',\'S04\',\'S05\']\nGender = [\'M\',\'F\',\'F\',\'M\',\'F\']\nDept = [\'CS\',\'ECE\',\'ME\',\'CS\',\'CS\']\nSessional_Perc = [45,60,73,65.3,71.9]\nFinal_Sem_marks = [680, 800, 541.0079999999999, 650, 811.5120000000001]\nBacklogs = [\'B\', \'B\', \'NB\', \'B\', \'NB\'] Here by placing "" three times before and after statement'

In [7]:
# # Student_ids = ['S01','S02','S03','S04','S05']
# # Gender = ['M','F','F','M','F']
# # Dept = ['CS','ECE','ME','CS','CS']
# # Sessional_Perc = [45,60,73,65.3,71.9]
# # Final_Sem_marks = [680, 800, 541.0079999999999, 650, 811.5120000000001]
# # Backlogs = ['B', 'B', 'NB', 'B', 'NB'] 
# Here by pressing ctrl + / by selecting all statement.

We can also comment code by changing cell type from code to markdown or raw

Updated_Student = ['S01','S04']
for i in range(len(Student_ids)):
    if Student_ids[i] == Updated_Student:
        Backlogs[i] = 'B'   
"Here cell type changed from code to raw

# Q2. What are variables in Python? How do you declare and assign values to variables?

In [9]:
# variable are string of characters followed by number (if required) to store data by using assignment operator =

In [ ]:
# # # We can declare variable by assigning value to it.
# If we assign same character variable multiple times, then last assigned value will overwrite previous value stored in that variable.
# # Below are the examples of different types of data assign to different types of variables

In [15]:
a = 5
b = True
c = 3+5j
d = 'Panda'
e = 34.56
l = [1,2,3,34.56,False,2+4j,"Data"]
t = (23,4.5,2+5j,True,'Science')
s = {1,4,7,4.7,True,"User"}
d1 = {"int":[1,2,3],"str":("Data","Science"),"float":{12.21,34.423}}

In [11]:
type(a)

int

In [12]:
type(b)

bool

In [13]:
type(c)

complex

In [16]:
type(d)

str

In [17]:
type(e)

float

In [19]:
type(l)

list

In [20]:
type(t)

tuple

In [21]:
type(s)

set

In [22]:
type(d1)

dict

# Q3. How do you convert one data type to another in Python?

In [ ]:
# There are many built-in functions available to covert one data type to another like int(),str(),list() etc.

In [23]:
a = 123

In [24]:
type(a)

int

In [25]:
str(a)

'123'

In [27]:
b = 'Data',"Science",'pwskills'

In [28]:
list(b)

['Data', 'Science', 'pwskills']

In [30]:
tuple(b)

('Data', 'Science', 'pwskills')

# Q4. How do you write and execute a Python script from the command line?

In [ ]:
# First, we have to make a new file on IDLE(python 3.11)
# we write code{for ex: print("Avash Kumar Panda")} and save it on desktop naming name_script.py
# (We also create python file using notepad,but while saving the file we must put .py extension to it)
# now we open command prompt & we have to first find location of file by changing its directory{C:\Users\avash>cd desktop}
# Then execute python script by typing C:\Users\avash\Desktop>python name_script.py
# We get output Avash Kumar Panda

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [4]:
my_list = [1, 2, 3, 4, 5]
my_sub_list = my_list[1:3]

In [5]:
my_sub_list

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [6]:
# Complex number are the combination of real number & imaginary number.
# it is represented by j in imaginary part.

In [7]:
a = 4+6j

In [8]:
type(a)

complex

In [10]:
a.real

4.0

In [11]:
a.imag

6.0

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
age = 25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [13]:
price = 9.99

In [14]:
type(price)

float

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [15]:
name = 'Avash Kumar Panda'

In [16]:
name

'Avash Kumar Panda'

# Q10. Given the string "Hello, World!", extract the substring "World".

In [17]:
a = "Hello, World!"

In [18]:
b = a[7:12]

In [19]:
b

'World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [20]:
is_student = False